main {
    display: flex;
    justify-content: center;
    padding: 20px;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}


.form-atendimento {
    margin: 0 auto;
    margin-top: 50px;

    form {
        height: 250px;
        width: 300px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: black;
        background-color: white;
        padding: 20px;
        border-radius: 10px;

        div {
            display: flex;
            justify-content: space-between;

            input {
                background-color: rgb(150, 147, 147);
                border: none;
                border-radius: 5px;
                padding: 6px;
                color: black;
                margin-bottom: 5px;
                width: 240px;
            }

            label {
                margin-right: 10px;
            }

            button {
                display: flex;
                align-items: flex-end;
                background: linear-gradient(90deg, #3A0CA3, #2F3CFF);
                border: none;
                padding: 12px 24px;
                border-radius: 8px;
                color: #fff;
                font-size: 16px;
                cursor: pointer;
                transition: 0.3s;
            }

            button:hover {
                filter: brightness(1.15);
                transform: translateY(-2px);
                box-shadow: 0 2px 18px rgba(108, 117, 240, 0.4);

            }

        }

        .actions {
            display: flex;
            justify-content: center;
            gap: 10px;

            button {
                padding: 5px;
            }
        }

    }

}

#Concluido {
    background-color: rgb(150, 147, 147);
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: black;
    margin-bottom: 5px;
    width: 40px;
}